.font-size-small {
  font-size: 0.9rem;
}
.head-card-hover:hover {
  opacity: 0.9 !important;
}
.head-card-hover:hover p {
  color: rgb(255, 166, 0) !important;
}
.cursor-pointer {
  cursor: pointer;
}
